name: CI

on: [push]

env:
  SKIP_ENV_VALIDATION: "true"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Typecheck
        run: npx next typegen && tsc --noEmit | npm run typecheck

      - name: Lint
        run: npm run lint
